In [1]:
import pandas as pd

import sqlite3

In [4]:
connection = sqlite3.connect('data/FPA_FOD_20170508.sqlite')

In [46]:
# cursor = connection.cursor()
# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(cursor.fetchall())
# cursor.close()

In [83]:
fires_df = pd.read_sql('SELECT * FROM fires;', connection)

In [84]:
agency_df = pd.read_sql('SELECT * FROM NWCG_UnitIDActive_20170109;', connection)

In [85]:
fires_df.head()

,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,0511,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,063,Plumas,b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,061,Placer,b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,017,El Dorado,b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,003,Alpine,b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

In [86]:
fires_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880465 entries, 0 to 1880464
Data columns (total 39 columns):
 #   Column                      Dtype
---  ------                      -----
 0   OBJECTID                    int64
 1   FOD_ID                      int64
 2   FPA_ID                      object
 3   SOURCE_SYSTEM_TYPE          object
 4   SOURCE_SYSTEM               object
 5   NWCG_REPORTING_AGENCY       object
 6   NWCG_REPORTING_UNIT_ID      object
 7   NWCG_REPORTING_UNIT_NAME    object
 8   SOURCE_REPORTING_UNIT       object
 9   SOURCE_REPORTING_UNIT_NAME  object
 10  LOCAL_FIRE_REPORT_ID        object
 11  LOCAL_INCIDENT_ID           object
 12  FIRE_CODE                   object
 13  FIRE_NAME                   object
 14  ICS_209_INCIDENT_NUMBER     object
 15  ICS_209_NAME                object
 16  MTBS_ID                     object
 17  MTBS_FIRE_NAME              object
 18  COMPLEX_NAME                object
 19  FIRE_YEAR                   int64
 20  DISCOVERY_DATE              float64
 21  DISCOVERY_DOY               int64
 22  DISCOVERY_TIME              object
 23  STAT_CAUSE_CODE             float64
 24  STAT_CAUSE_DESCR            object
 25  CONT_DATE                   float64
 26  CONT_DOY                    float64
 27  CONT_TIME                   object
 28  FIRE_SIZE                   float64
 29  FIRE_SIZE_CLASS             object
 30  LATITUDE                    float64
 31  LONGITUDE                   float64
 32  OWNER_CODE                  float64
 33  OWNER_DESCR                 object
 34  STATE                       object
 35  COUNTY                      object
 36  FIPS_CODE                   object
 37  FIPS_NAME                   object
 38  Shape                       object
dtypes: float64(8), int64(4), object(27)
memory usage: 559.5+ MB

In [87]:
fires_df.shape

(1880465, 39)

In [88]:
fires_df['STAT_CAUSE_DESCR'].value_counts()

Debris Burning       429028
Miscellaneous        323805
Arson                281455
Lightning            278468
Missing/Undefined    166723
Equipment Use        147612
Campfire              76139
Children              61167
Smoking               52869
Railroad              33455
Powerline             14448
Fireworks             11500
Structure              3796
Name: STAT_CAUSE_DESCR, dtype: int64

In [89]:
fires_df.duplicated().sum()

0

In [90]:
fires_df.isna().sum()/fires_df.shape[0]

OBJECTID                      0.000000
FOD_ID                        0.000000
FPA_ID                        0.000000
SOURCE_SYSTEM_TYPE            0.000000
SOURCE_SYSTEM                 0.000000
NWCG_REPORTING_AGENCY         0.000000
NWCG_REPORTING_UNIT_ID        0.000000
NWCG_REPORTING_UNIT_NAME      0.000000
SOURCE_REPORTING_UNIT         0.000000
SOURCE_REPORTING_UNIT_NAME    0.000000
LOCAL_FIRE_REPORT_ID          0.776024
LOCAL_INCIDENT_ID             0.436499
FIRE_CODE                     0.827261
FIRE_NAME                     0.509017
ICS_209_INCIDENT_NUMBER       0.986324
ICS_209_NAME                  0.986324
MTBS_ID                       0.994149
MTBS_FIRE_NAME                0.994149
COMPLEX_NAME                  0.997244
FIRE_YEAR                     0.000000
DISCOVERY_DATE                0.000000
DISCOVERY_DOY                 0.000000
DISCOVERY_TIME                0.469372
STAT_CAUSE_CODE               0.000000
STAT_CAUSE_DESCR              0.000000
CONT_DATE                     0.474101
CONT_DOY                      0.474101
CONT_TIME                     0.516985
FIRE_SIZE                     0.000000
FIRE_SIZE_CLASS               0.000000
LATITUDE                      0.000000
LONGITUDE                     0.000000
OWNER_CODE                    0.000000
OWNER_DESCR                   0.000000
STATE                         0.000000
COUNTY                        0.360628
FIPS_CODE                     0.360628
FIPS_NAME                     0.360628
Shape                         0.000000
dtype: float64

In [91]:
fires_df = fires_df.drop(columns = ['ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME'])

In [92]:
fires_df.isna().sum()/fires_df.shape[0]

OBJECTID                      0.000000
FOD_ID                        0.000000
FPA_ID                        0.000000
SOURCE_SYSTEM_TYPE            0.000000
SOURCE_SYSTEM                 0.000000
NWCG_REPORTING_AGENCY         0.000000
NWCG_REPORTING_UNIT_ID        0.000000
NWCG_REPORTING_UNIT_NAME      0.000000
SOURCE_REPORTING_UNIT         0.000000
SOURCE_REPORTING_UNIT_NAME    0.000000
LOCAL_FIRE_REPORT_ID          0.776024
LOCAL_INCIDENT_ID             0.436499
FIRE_CODE                     0.827261
FIRE_NAME                     0.509017
FIRE_YEAR                     0.000000
DISCOVERY_DATE                0.000000
DISCOVERY_DOY                 0.000000
DISCOVERY_TIME                0.469372
STAT_CAUSE_CODE               0.000000
STAT_CAUSE_DESCR              0.000000
CONT_DATE                     0.474101
CONT_DOY                      0.474101
CONT_TIME                     0.516985
FIRE_SIZE                     0.000000
FIRE_SIZE_CLASS               0.000000
LATITUDE                      0.000000
LONGITUDE                     0.000000
OWNER_CODE                    0.000000
OWNER_DESCR                   0.000000
STATE                         0.000000
COUNTY                        0.360628
FIPS_CODE                     0.360628
FIPS_NAME                     0.360628
Shape                         0.000000
dtype: float64

LOCAL_FIRE_REPORT_ID = Number or code that uniquely identifies an incident report for a particular reporting unit
and a particular calendar year.
LOCAL_INCIDENT_ID = Number or code that uniquely identifies an incident for a particular local fire management
organization within a particular calendar year.
FIRE_CODE = Code used within the interagency wildland fire community to track and compile cost information for
emergency fire suppression
FIRE_NAME = Name of the incident, from the fire report (primary) or ICS-209 report (secondary).
DISCOVERY_TIME = Time of day that the fire was discovered or confirmed to exist.
CONT_DATE = Date on which the fire was declared contained or otherwise controlled (mm/dd/yyyy where mm=month,
dd=day, and yyyy=year).
CONT_DOY = Day of year on which the fire was declared contained or otherwise controlled.
CONT_TIME = Time of day that the fire was declared contained or otherwise controlled (hhmm where hh=hour,
mm=minutes).
COUNTY = County, or equivalent, in which the fire burned (or originated), based on nominal designation in the fire
report.
FIPS_CODE = Three-digit code from the Federal Information Process Standards (FIPS) publication 6-4 for
representation of counties and equivalent entities.
FIPS_NAME = County name from the FIPS publication 6-4 for representation of counties and equivalent entities.

In [93]:
fires_df.drop(columns = ['LOCAL_FIRE_REPORT_ID', 'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'], inplace = True)

In [94]:
fires_df.isna().sum()

OBJECTID                           0
FOD_ID                             0
FPA_ID                             0
SOURCE_SYSTEM_TYPE                 0
SOURCE_SYSTEM                      0
NWCG_REPORTING_AGENCY              0
NWCG_REPORTING_UNIT_ID             0
NWCG_REPORTING_UNIT_NAME           0
SOURCE_REPORTING_UNIT              0
SOURCE_REPORTING_UNIT_NAME         0
FIRE_YEAR                          0
DISCOVERY_DATE                     0
DISCOVERY_DOY                      0
DISCOVERY_TIME                882638
STAT_CAUSE_CODE                    0
STAT_CAUSE_DESCR                   0
CONT_DATE                     891531
CONT_DOY                      891531
CONT_TIME                     972173
FIRE_SIZE                          0
FIRE_SIZE_CLASS                    0
LATITUDE                           0
LONGITUDE                          0
OWNER_CODE                         0
OWNER_DESCR                        0
STATE                              0
Shape                              0
dtype: int64

In [95]:
cols = ['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'SOURCE_REPORTING_UNIT_NAME', 'OWNER_CODE', 'Shape']
fires_df.drop(columns = cols, inplace = True)

In [96]:
fires_df['OWNER_DESCR'].value_counts(normalize = True)

MISSING/NOT SPECIFIED    0.558817
PRIVATE                  0.167417
USFS                     0.100155
BIA                      0.056805
STATE OR PRIVATE         0.038225
BLM                      0.033650
STATE                    0.016374
NPS                      0.009319
FWS                      0.006483
TRIBAL                   0.004761
OTHER FEDERAL            0.003431
MUNICIPAL/LOCAL          0.002253
UNDEFINED FEDERAL        0.001173
COUNTY                   0.000979
BOR                      0.000152
FOREIGN                  0.000008
Name: OWNER_DESCR, dtype: float64

In [97]:
fires_df.head()

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DATE,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE
0,2005,2453403.5,33,1300,9.0,Miscellaneous,2453403.5,33.0,1730,0.10,A,40.036944,-121.005833,USFS,CA
1,2004,2453137.5,133,0845,1.0,Lightning,2453137.5,133.0,1530,0.25,A,38.933056,-120.404444,USFS,CA
2,2004,2453156.5,152,1921,5.0,Debris Burning,2453156.5,152.0,2024,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA
3,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1400,0.10,A,38.559167,-119.913333,USFS,CA
4,2004,2453184.5,180,1600,1.0,Lightning,2453189.5,185.0,1200,0.10,A,38.559167,-119.933056,USFS,CA

In [98]:
fires_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1880465 entries, 0 to 1880464
Data columns (total 15 columns):
 #   Column            Dtype
---  ------            -----
 0   FIRE_YEAR         int64
 1   DISCOVERY_DATE    float64
 2   DISCOVERY_DOY     int64
 3   DISCOVERY_TIME    object
 4   STAT_CAUSE_CODE   float64
 5   STAT_CAUSE_DESCR  object
 6   CONT_DATE         float64
 7   CONT_DOY          float64
 8   CONT_TIME         object
 9   FIRE_SIZE         float64
 10  FIRE_SIZE_CLASS   object
 11  LATITUDE          float64
 12  LONGITUDE         float64
 13  OWNER_DESCR       object
 14  STATE             object
dtypes: float64(7), int64(2), object(6)
memory usage: 215.2+ MB

In [99]:
fires_df.drop( columns = ['DISCOVERY_DATE', 'CONT_DATE'], inplace = True)

In [100]:
fires_df.head()

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE
0,2005,33,1300,9.0,Miscellaneous,33.0,1730,0.10,A,40.036944,-121.005833,USFS,CA
1,2004,133,0845,1.0,Lightning,133.0,1530,0.25,A,38.933056,-120.404444,USFS,CA
2,2004,152,1921,5.0,Debris Burning,152.0,2024,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA
3,2004,180,1600,1.0,Lightning,185.0,1400,0.10,A,38.559167,-119.913333,USFS,CA
4,2004,180,1600,1.0,Lightning,185.0,1200,0.10,A,38.559167,-119.933056,USFS,CA

In [101]:
fires_df.shape

(1880465, 13)

In [102]:
fires_df.dropna(subset = ['DISCOVERY_TIME', 'CONT_DOY', 'CONT_TIME'], inplace = True)

In [103]:
fires_df.shape

(892007, 13)

In [104]:
fires_df['DURATION'] = abs(fires_df['CONT_DOY'] - fires_df['DISCOVERY_DOY'])

In [105]:
fires_df['DURATION'].describe()

count    892007.000000
mean          1.198396
std           8.825417
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         365.000000
Name: DURATION, dtype: float64

In [113]:
fires_df['DURATION'].value_counts()

0.0      721098
1.0       98520
2.0       23202
3.0       10763
4.0        6270
          ...
335.0         1
334.0         1
314.0         1
254.0         1
245.0         1
Name: DURATION, Length: 302, dtype: int64

In [108]:
fires_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892007 entries, 0 to 1880460
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   FIRE_YEAR         892007 non-null  int64
 1   DISCOVERY_DOY     892007 non-null  int64
 2   DISCOVERY_TIME    892007 non-null  object
 3   STAT_CAUSE_CODE   892007 non-null  float64
 4   STAT_CAUSE_DESCR  892007 non-null  object
 5   CONT_DOY          892007 non-null  float64
 6   CONT_TIME         892007 non-null  object
 7   FIRE_SIZE         892007 non-null  float64
 8   FIRE_SIZE_CLASS   892007 non-null  object
 9   LATITUDE          892007 non-null  float64
 10  LONGITUDE         892007 non-null  float64
 11  OWNER_DESCR       892007 non-null  object
 12  STATE             892007 non-null  object
 13  DURATION          892007 non-null  float64
dtypes: float64(6), int64(2), object(6)
memory usage: 102.1+ MB

In [72]:
fires_df['STAT_CAUSE_CODE'] = fires_df['STAT_CAUSE_CODE'].astype('object')
fires_df['DISCOVERY_TIME'] = fires_df['DISCOVERY_TIME'].astype('int64')
fires_df['CONT_TIME'] = fires_df['CONT_TIME'].astype('int64')

In [73]:
def seasons(x):
    if type(x) is str:
        return x
    
    if x < 91:
        return 'Winter'
    elif x < 182:
        return 'Spring'
    elif x < 273:
        return 'Summer'
    else:
        return 'Fall'
    
def day(x):
    if type(x) is str:
        return x
    
    if x < 900:
        return 'Morning'
    elif x < 1500:
        return 'Noon'
    elif x < 1800:
        return 'Afternoon'
    else:
        return 'Night'

In [74]:
fires_df['DISCOVERY_DOY'] = fires_df['DISCOVERY_DOY'].apply(seasons)
fires_df['CONT_DOY'] = fires_df['CONT_DOY'].apply(seasons)

fires_df['DISCOVERY_TIME'] = fires_df['DISCOVERY_TIME'].apply(day)
fires_df['CONT_TIME'] = fires_df['CONT_TIME'].apply(day)

In [75]:
fires_df.head()

,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,STAT_CAUSE_DESCR,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,DURATION
0,2005,Winter,Noon,9,Miscellaneous,Winter,Afternoon,0.10,A,40.036944,-121.005833,USFS,CA,0.0
1,2004,Spring,Morning,1,Lightning,Spring,Afternoon,0.25,A,38.933056,-120.404444,USFS,CA,0.0
2,2004,Spring,Night,5,Debris Burning,Spring,Night,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,0.0
3,2004,Spring,Afternoon,1,Lightning,Summer,Noon,0.10,A,38.559167,-119.913333,USFS,CA,5.0
4,2004,Spring,Afternoon,1,Lightning,Summer,Noon,0.10,A,38.559167,-119.933056,USFS,CA,5.0